<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/style.css"/>
    <title>Главная страница</title>
</head>
<body>
<div class="container">
    <h1>Таски!</h1>
    <br>
    <div class="buttons_block" th:hidden="${hiddenTop}">
        <button onclick="location.href='/ui/tasks'">Всё</button>
        <button onclick="location.href='/ui/tasks?isDone=true'">Сделано</button>
        <button onclick="location.href='/ui/tasks?isDone=false'">Не сделано</button>
        <button onclick="location.href='/ui/tasks/new'">Создать новую таску</button>
    </div>

    <p class="message" th:text="${str}"></p>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Дата</th>
            <th scope="col">Описание</th>
            <th scope="col">Пользователь</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody class="table-tasks">
        <tr th:each="myTasks:${listTasks}">
            <td><a th:href="@{'/ui/tasks/' + ${myTasks.getId()}}" th:text="${myTasks.getId()}"></a></td>
            <td th:text="${myTasks.getDate()}"></td>
            <td th:text="${myTasks.getDescription()}"></td>
            <td th:text="${myTasks.getUserLogin()}"></td>
            <td th:text="(${myTasks.isDone()}) ? 'Сделано' : 'Не сделано'"></td>
        </tr>
        </tbody>
    </table>

    <div class="buttons_block single" th:hidden="${hiddenSingle}">

        <!--        <button onclick="location.href='/ui/tasks'">Проставить Сделано</button>-->
        <form action="#" th:attr="action=@{'/ui/tasks/' + ${id} + ':patch'}" th:object="${id}" method="post">
        <button onclick="location.href='/ui/tasks?isDone=true'">Сменить статус</button>
        </form>
        <form action="#" th:attr="action=@{'/ui/tasks/' + ${id} + ':put'}" th:object="${id}" method="get">
            <!--            <input type="text" hidden="true" th:if="${id != null}" th:value="${listTasks.id}" th:field="${listTasks.id}">-->
            <button type="submit">Исправить таску</button>
        </form>

        <form action="#" th:attr="action=@{'/ui/tasks/' + ${id} + ':delete'}" th:object="${id}" method="post">
            <button type="submit">Удалить таску</button>
        </form>
    </div>

</div>
</body>
</html>