<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/style.css"/>
    <title>Изменение страница</title>
</head>
<body>
<div class="container">
    <h1>Изменение Таски!</h1>
    <br>

    <form th:attr="action=@{'/ui/tasks/' + ${changeTask.id} + ':put'}" th:object="${changeTask}" method="post">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Дата</th>
                <th scope="col">Описание</th>
                <th scope="col">Пользователь</th>

            </tr>
            </thead>
            <tbody class="table-tasks">
            <tr>
                <td><input type="text" class="Id" th:value="*{id}" th:field="*{id}" readonly></td>
                <td><input type="text" class="Date" th:value="*{date}" th:field="*{date}"></td>
                <td><input type="text" class="Description" th:value="*{description}" th:field="*{description}"></td>
                <td><input type="text" class="login" th:value="*{userLogin}" th:field="*{userLogin}" readonly>
                </td>

            </tr>
            </tbody>
        </table>
        <div class="buttons_block">
            <button type="submit">Изменить</button>
        </div>
    </form>
    <div class="buttons_block back">
        <button onclick="location.href='/ui/tasks'">Вернуться</button>
    </div>
</div>
</body>
</html>